* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/*check for more reset values*/
a {
  text-decoration: none;
}
nav {
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #ede7e3;
  width: 100%;
  border-bottom: 0.02rem solid #58555e93;
}

nav li a {
  color: black;
}

nav li a:hover {
  color: rgb(159, 159, 161);
}
.menu li {
  display: inline;
  padding: 0;
}

ul li {
  margin: 0 1rem;
  list-style: none;
}

header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 28rem;
  background-image: url(images/header.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
  padding: 3.5rem 0;
  font-size: 1.5rem;
}

#title {
  color: #ede7e3;
  padding: 2rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.226);
  border-radius: 15px 50px 30px;
}

#title p {
  font-size: 1.2rem;
}
main {
  background-color: #ede7e3;
}

#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}

#quote p {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}

main section {
  min-height: 12rem;
  max-height: fit-content;
}

#about,
#tools {
  background-color: #18171a;
  color: #ede7e3;
}
#about,
#skills,
#tools {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.aboutpart img {
  height: 20rem;
  border-radius: 25% 10%;
  margin-bottom: 3rem;
}

.aboutpart p {
  text-align: left;
  width: 20rem;
  margin-bottom: 1rem;
}
.skillspart p {
  padding: 2.2rem;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2.5rem;
}

ul.menu img {
  height: 2rem;
}

ul img {
  height: 1rem;
  padding: 0 1rem;
}
.icon {
  height: 1rem;
}

#contact a:hover img {
  border-bottom: 0.1rem solid black;
}

ul.fmenu li {
  margin: 0.5rem 0;
}

.fmenu a {
  color: #ede7e3;
}

.fmenu a:hover {
  color: #504d55;
}

footer {
  background-color: #18171a;
  color: #ede7e3;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.fmenu p {
  text-align: center;
}

@media (max-width: 413px) {
  #contact li {
    margin: 0;
  }
  #title p {
    font-size: 1rem;
  }
}

@media (min-width: 792px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }
  .aboutpart p {
    padding-left: 3rem;
    width: 30rem;
    text-align: justify;
  }
}
