/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}*/
/*check for more reset values*/

h1 {
  text-align: center;
}

main {
  background-color: #ede7e3;
}
.menu li {
  display: inline;
  padding: 0;
  margin: 0;
  color: black;
}

a:link {
  text-decoration: none;
}

header {
  display: inline-flex;
  justify-content: space-around;
  margin: auto;
}

ul.menu img {
  height: 2rem;
}

.icon {
  height: 1rem;
}

.fmenu {
  list-style: none;
}

ul.fmenu li {
  margin: 0.5em 0;
}

footer {
  display: flex;
  background-color: #16697a;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 0.8rem;
}

footer div {
  width: 20rem;
}

/*#signature {
  margin: auto;
}*/
